.cart{
	background-color: #f8f8f8;
	padding-top: 88rpx;
	.header{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		height: 88rpx;
		line-height: 88rpx;
		text-align: center;
		font-size: 30rpx;
		background:url(../../static/head_bg.png) no-repeat center center;
		background-size: cover;
		color: #FFFFFF;
		flex-shrink: 0;
		.edit{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			font-size: 26rpx;
			color: #fff;
			padding: 0 30rpx;
		}
	}
}

.no-cart{
	position: absolute;
	left: 0;
	top: 88rpx;
	right: 0;
	bottom: 0;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.icon{
		width: 100%;
		height: 236rpx;
		background: url('../../static/cart-not.png') no-repeat center center;
		background-size: 206rpx 190rpx;
	}
	.tips{
		margin-top: 30rpx;
		line-height: 1;
		color: #969494;
		font-size: 26rpx;
	}
	.btn{
		margin-top: 40rpx;
		width: 206rpx;
		height: 60rpx;
		line-height: 60rpx;
		text-align: center;
		background:url(../../static/head_bg.png) no-repeat center center;
		background-size: cover;
		color: #ffffff;
		font-size: 26rpx;
		border-radius:30rpx;
	}
}
.has-cart{
}
.count{
	position: fixed;
	left: 0;
	right: 0;
	bottom: var(--window-bottom);
	height: 88rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	font-size: 30rpx;
	color: #666;
	@include border-bottom-1px(#eee);
	.check-total{
		flex: 1;
		padding-left: 30rpx;
		.iconfont{
			margin-right: 10rpx;
		}
	}
	.settlement{
		flex-shrink: 0;
		display: flex;
		align-items: center;
		.sum{
			color: #C62121;
			font-size: 26rpx;
			margin-right: 20rpx;
		}
		.close-account{
			width: 200rpx;
			line-height: 88rpx;
			background-color: $uni-bg-color;
			text-align: center;
			color: #FFFFFF;
			font-size: 26rpx;
			font-family: AlibabaPuHuiTi-Regular;
		}
	}
	
}